.icon-fksh{
	background: transparent url('../images/icon-fksh.png') center center no-repeat;
}

.clear{
	clear: both;
}

.box{
	background: #CECECE;
	border: 3px solid #000000;
	float: left;
	margin: 5px;
}

.placehold{
	background: #6CF;
	float: left;
	margin: 5px;
}

.box.active{
	background: #99B4CE;
	border: 3px solid #5778CE;
	display: inline-block;
}

#loop-forms div{
	background: #F7F7F7;
	border: 1px solid #333;
	padding: 5px;
	position: absolute;
	width: 460px;
	z-index: 100;
}

.editable input{
	border: 1px solid #C0C0C0;
	font: italic normal normal 20px/24px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	padding: 5px;
	width: 25em;
}

.editable input.readonly{
	border: 0;
	background: transparent;
}
span.close-boxform{
    cursor:pointer;
    float:right;
    font-size:12px;
    color:#A70000
}
.input-large{width:450px}
.input-tall{height:80px}
