/*
    Theme Name: Rádio Animix
    Version: 1.0
    Author: Jhomar Nando, Felipe Krust e Carlos Ninetails
*/

/* =Reset CSS  */

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* =Fonts */

	/* =Yanone Kaffeesatz */

		@font-face { font-family: 'Yanone Kaffeesatz'; src: url('css/fonts/YanoneKaffeesatz-Thin-webfont.eot'); src: url('css/fonts/YanoneKaffeesatz-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/YanoneKaffeesatz-Thin-webfont.woff') format('woff'), url('css/fonts/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype'), url('css/fonts/YanoneKaffeesatz-Thin-webfont.svg#YanoneKaffeesatzThin') format('svg'); font-weight: lighter; font-style: normal; }
		@font-face { font-family: 'Yanone Kaffeesatz'; src: url('css/fonts/YanoneKaffeesatz-Light-webfont.eot'); src: url('css/fonts/YanoneKaffeesatz-Light-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('css/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('css/fonts/YanoneKaffeesatz-Light-webfont.svg#YanoneKaffeesatzLight') format('svg'); font-weight: normal; font-style: normal; }
		@font-face { font-family: 'Yanone Kaffeesatz'; src: url('css/fonts/YanoneKaffeesatz-Regular-webfont.eot'); src: url('css/fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('css/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('css/fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg'); font-weight: bold; font-style: normal; }
		@font-face { font-family: 'Yanone Kaffeesatz'; src: url('css/fonts/YanoneKaffeesatz-Bold-webfont.eot'); src: url('css/fonts/YanoneKaffeesatz-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('css/fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('css/fonts/YanoneKaffeesatz-Bold-webfont.svg#YanoneKaffeesatzBold') format('svg'); font-weight: bolder; font-style: normal; }

	/* =Yanone Kaffeesatz */

		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-Light-webfont.eot'); src: url('css/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-Light-webfont.woff') format('woff'), url('css/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg'); font-weight: lighter; font-style: normal; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-LightItalic-webfont.eot'); src: url('css/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('css/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg'); font-weight: lighter; font-style: italic; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-Regular-webfont.eot'); src: url('css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-Italic-webfont.eot'); src: url('css/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-Italic-webfont.woff') format('woff'), url('css/fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg'); font-weight: normal; font-style: italic; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-Semibold-webfont.eot'); src: url('css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg'); font-weight: bold; font-style: normal; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-SemiboldItalic-webfont.eot'); src: url('css/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('css/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg'); font-weight: bold; font-style: italic; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-Bold-webfont.eot'); src: url('css/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-Bold-webfont.woff') format('woff'), url('css/fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); font-weight: bolder; font-style: normal; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-BoldItalic-webfont.eot'); src: url('css/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('css/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg'); font-weight: bolder; font-style: italic; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-ExtraBold-webfont.eot'); src: url('css/fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('css/fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg'); font-weight: 900; font-style: normal; }
		@font-face { font-family: 'Open Sans'; src: url('css/fonts/OpenSans-ExtraBoldItalic-webfont.eot'); src: url('css/fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('css/fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('css/fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg'); font-weight: 900; font-style: italic; }

/* =Layout */

	html, body {
		font-family: 'Open Sans', Verdana, sans-serif !important;
		color: #000;
	}

	html {
		background: #f8f4dd url(images/bg.jpg);
		margin: 0 !important;
	}

	a, a:visited {
		color: #000;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	img {
		display: block;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	.alignleft {
		float: left;
		margin: 10px 10px 10px 0;
	}

	.alignright {
		float: right;
		margin: 10px 0 10px 10px;
	}

	.aligncenter {
		display: block;
		margin: 15px auto;
	}

	.wp-caption {
		background: #eee;
		max-width: 630px;
	}

	.wp-caption img {
		width: 100%;
	}

	.post #post-entry p.wp-caption-text {
		margin: 5px 10px 5px;
		padding:0 0 5px;
		font-size: 12px;
	}

	.wrapper {
		width: 960px;
		margin: 0 auto;
	}

	/* =Header */

		#header #logo {
			position: relative;
			width: 960px;
			margin: 0 auto;
		}

		#header #logo h1 a, #header #logo h6 a {
		    position: absolute;
		    top: -35px;
		    left: 25%;
		    width: 490px;
		    height: 250px;
		}

		#header .menu {
			 position: relative;
			 z-index: 9999;
		    float: left;
		    width: 100%;
		    background: #000;
		    margin: 0 auto;
		    padding: 10px 0;
		    color: #fff;
		}

		#header .menu ul {
		    width: 960px;
		    margin: 0 auto;
		}

		#header .menu ul li {
		    float: left;
		    font: 18px 'Yanone Kaffeesatz', Verdana, sans-serif;
		    text-transform: uppercase;
		    margin: 0 0 0 30px;
		}

		#header .menu ul li:first-child {
		    margin: 0;
		}

		#header .menu ul li a {
		    color: #fff;
		}

		#header .menu ul li a:hover {
		    color: #999;
		    text-decoration: none;
		}

	/* =Main */

		#main {
			background: url(images/art-bg.jpg) no-repeat center -100px;
			float: left;
			width: 100%;
			padding: 180px 0 0;
		}

		#main.soon {
			background: url(images/art-bg-soon.jpg) no-repeat center 110px;
			height: 1250px;
		}

		#main h3 {
		    font: bold 24px 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
		    text-transform: uppercase;
		    color: #330000;

		    margin: 5px 0;
}

		#main h3 i {
		    color: #d81505;
		}

		#main #newsAnimix h3 {
		    color: #d81505;
		}

		#main #newsAnimix h3 i {
		    color: #ffc702;
		}

		#main #rotate {
		    float: left;
		    margin: 0 20px 10px 0;
		}

		#main #rotate ul {
			 display: inline-block;
			 *display: inline;
			 zoom: 1;
		    width: 620px;
		    height: 240px;
		    overflow: hidden;
		}

		#main #rotate li {
		    position: relative;
		    float: left;
		    width: 620px;
		    height: 240px;
		    overflow: hidden;
		}

		#main #rotate li img {
			display: block;
			background: #eee;
			width: 620px;
			height: 240px;
		}

		#main #rotate li .caption {
		    position: absolute;
		    bottom: 0px;
		    background: rgba(1, 1, 1, 0.6);
		    width: 610px;
		    padding: 5px;
		}

		#main #rotate li .caption span {
		    float: left;
		    display: inline-block;
		    *display: inline;
		    width: auto;
		    max-width: 84px;
		    height: 24px;
		    margin: 0 5px 0 0;
		    font: bold 20px 'Yanone Kaffeesatz', Arial, sans-serif;
		    color: #f4c40b;
		    text-transform: uppercase;
		    overflow: hidden;
        }

		#main #rotate li .caption h2 {
		    float: left;
		    width: 520px;
		    font: 12px/26px 'Open Sans', Arial, Helvetica, sans-serif;
		    color: #fff;
		}

		#main #rotate li .caption h2 a {
            color: #fff;
		}

		#main #rotate .pagination {
		    width: 70px;
		    margin: 10px auto;
		}

		#main #rotate .pagination a {
            background-position: -2px -770px;
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            margin: 0 2px;
		}

		#main #rotate .pagination a.selected {
		    	background-position: -20px -770px;
		}

		#main #newsAnimix {
		    position: relative;
			 float: left;
			 width: 300px;

		    margin-left: 20px;
		}

		#newsAnimix .feed {
		    position: absolute;
		    top: 5px;
		    right: 0px;
		    display: block;
		    background-position: -47px -769px;
		    width: 115px;
			height: 11px;
		}

		#main #newsAnimix ul {
		    float: left;
		    background-color: #f4c40b;
		    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4c40b), to(#f6a808));
		    background-image: -webkit-linear-gradient(top, #f4c40b, #f6a808);
		    background-image:    -moz-linear-gradient(top, #f4c40b, #f6a808);
		    background-image:      -o-linear-gradient(top, #f4c40b, #f6a808);
		    background-image:         linear-gradient(to bottom, #f4c40b, #f6a808);
		    width: 280px;
		    padding: 10px;
		    -webkit-border-radius: 10px;
		          border-radius: 10px;
		    background-clip: padding-box;
		}

		#main #newsAnimix li {
		    margin: 10px 0;
		}

		#main #newsAnimix li:first-child; {
		    margin: 0;
		}

		#main #newsAnimix li img {
			 display: block;
			 background: #eee;
		    float: left;
		    width: 60px;
		    height: 40px;
		    margin: 0 5px 5px 0;
		}

		#main #newsAnimix li h4 {
		    margin: 0 0 4px;
		    font: bold 13px/8px 'Open Sans', Arial, Helvetica, sans-serif;
		    color: #fff;
		}

		#main #newsAnimix li h4 a {
		    color: #fff;
		}

		#main #newsAnimix li p {
		    font: bold 10px/9px 'Open Sans', Arial, Helvetica, sans-serif;
		    color: #330000;
		}

		#main #newsAnimix li p a {
		    color: #330000;
		}

     #news {
         float: left;
         width: 100%;
         margin: 10px 0;
     }

     #news ul {
         display: inline-block;
         width: 940px;
         background: #fff;
         -webkit-border-radius: 10px;
                 border-radius: 10px;
         background-clip: padding-box;
         margin: 5px 0 0;
         padding: 10px;
     }

     #news ul li {
         float: left;
         width: 300px;
         height: 100px;
         margin: 0 12px 5px 0;
         overflow: hidden;
     }

     #news ul li img {
     		display: block;
     		background: #eee;
         float: left;
         width: 75px;
         height: 75px;
         margin: 0 10px 10px 0;
         border: 3px solid;
     }

     #news ul li var {
         display: block;
         margin: 0px;
         font: 10px Verdana, Arial, Helvetica, sans-serif;
     }

     #news ul li h4 {
         margin: 0 0 2px;
         font: bold 20px 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
         text-transform: uppercase;
         border-bottom: 3px solid
     }

     #news ul li p {
         font: 10px/12px 'Open Sans', Arial, Heltica, sans-serif;
     }

     #news ul li img,
     #news ul li h4 {
         border-color: #fa7103;
     }

     #news .allNews {
         position: relative;
         top: -18px;
         display: block;
         background-color: #f4c40b;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#f4c40b), to(#f6a808));
         background-image: -webkit-linear-gradient(top, #f4c40b, #f6a808);
         background-image:    -moz-linear-gradient(top, #f4c40b, #f6a808);
         background-image:      -o-linear-gradient(top, #f4c40b, #f6a808);
         background-image:         linear-gradient(to bottom, #f4c40b, #f6a808);
         background-clip: padding-box;
         padding: 5px 0;
         font: bold 13px 'Open Sans', Arial, Helvetica, sans-serif;
         text-transform: uppercase;
         text-align: center;
         color: #d81505;
     }

     #news .allNews b {
         color: #fff;
     }

    #main #events {
        float: left;
        width: 650px;
        margin-right: 20px;
    }

    #main #events h3 {
        margin: 10px 0;
    }

    #main #events .eventArrowLeft,
    #main #events .eventArrowRight {
        background-color: #fff;
    	width: 25px;
        height: 200px;
    }

    #main #events .eventArrowLeft {
        float: left;
        background-position: -380px -390px;
    }

    #main #events .eventArrowRight {
        float: right;
        background-position: -473px -390px;
    }

    #main #events ul {
        float: left;
        background: #fff;
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 600px;
        height: 180px;
        padding: 10px 0;
        overflow: hidden;
    }

    #main #events ul li {
        float: left;
        width: 300px;
        margin: 13px 0;
    }

    #main #events ul li img {
    	  display: block;
    	  background: #eee;
        float: left;
        width: 130px;
        height: 150px;
        margin: 0 10px 10px;
        border-right: 5px solid #f4c40b;
    }

    #main #events ul li h4 {
        font: bold 20px 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #fa7103;
    }

    #main #events ul li p {
        font: 10px 'Open Sans', Arial, Helvetica, sans-serif;
    }

    #main #events ul li strong {
        text-transform: uppercase;;
    }

    #main #twitter {
        float: left;
        width: 270px;
        margin-left: 20px;
    }

    #main #interviews {
        float: left;
        width: 100%;
        margin: 10px 0;
    }

    #main #interviews ul {
        background: #fff;
        display: inline-block;
        *display: inline;
        zoom: 1;
        -webkit-border-radius: 10px;
                 border-radius: 10px;
         background-clip: padding-box;
        padding: 20px 10px;
    }

    #main #interviews li {
        float: left;
        width: 460px;
        height: 180px;
        margin: 0 10px 0 0;
        overflow: hidden;
    }

    #main #interviews li .imageContent {
        position: relative;
        background: #f4c40b;
        float: left;
        width: 270px;
        height: 170px;
        margin: 0 15px 0 0;
    }

    #main #interviews li .imageContent img {
        position: absolute;
        z-index: 9999;
        display: block;
        background: #eee;
        width: 270px;
        height: 170px;
        top: 10px;
        left: 10px
    }

    #main #interviews li h4 {
        background: #f4c40b;
        margin: 10px;
        padding: 5px;
        font: bold 20px 'Yanone Kaffeesatz', Arial, Helvetica, sans-serf;
        text-transform: uppercase;
        text-indent: 10px;
    }

    #main #interviews li p {
        font: 11px 'Open Sans', Arial, Helvetica, sans-serif;
    }

	/* =Content */

	.internal .wrapper {
	    background: #fff;
	    padding: 20px 10px;
	}

	.internal .superbanner {
		float: none;
		width: 960px;
		margin: 20px auto;
	}

	#content, #sidebar {
	    display: inline-block;
	    *display: inline;
	    zoom: 1;
	    vertical-align: top;
	}

	#content {
	    width: 630px;
	    margin: 0 10px 0 0;
	}

	#content #breadcrumb {
		margin: 0 0 5px;
		font: 10px Tahoma, Verdana, sans-serif;
		color: #acacac;
	}

	#content #breadcrumb a,
	#content #breadcrumb strong {
		font-weight: normal;
		color: #666666;
		text-transform: uppercase;
	}

	#content h1 {
		margin: 0 0 10px;
		padding: 0 0 3px;
		font: bold 30px 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
		color: #330000;
		text-transform: uppercase;
		border-bottom: 1px dotted #a0a0a0;
	}

	#content h1 span {
		position: relative;
		top: -3px;
		color: #d81505
	}

	#content h1 a {
		color: #330000;
	}

	#content .post-tools {
		margin: 0 0 10px;
	}

	#content .post-tools var,
	#content .post-tools address,
	#content .post-tools .share {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}

	#content .post-tools var {
		background: #f4c40b;
		padding: 2px;
		font: 12px Verdana, Tahoma, sans-serif;
		color: #fff;
	}

	#content .post-tools address {
		font: 12px Verdana, Tahoma, sans-serif;
		color: #999;
	}

	#content .entry {
		margin: 0 0 10px;
		padding: 0 0 10px;
		border-bottom: 1px dotted #a0a0a0;
	}

	#content .entry p {
		margin: 0 0 10px;
		font: 12px 'Open Sans', Arial, Helvetica, sans-serif;
		color: #333333;
	}

	#content .entry h1,
	#content .entry h2,
	#content .entry h3,
	#content .entry h4,
	#content .entry h5 {
		margin: 0 0 5px !important;
		padding: 0;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
		font-weight: bold;
		text-transform: uppercase;
		color: #333333;
		border: 0;
	}

	#content .entry h1 {
		font-size: 26px;
	}
	#content .entry h2 {
		font-size: 24px;
	}
	#content .entry h3 {
		font-size: 22px;
	}
	#content .entry h4 {
		font-size: 20px;
	}
	#content .entry h5 {
		font-size: 18px;
	}

	#content .entry a {
		color: #fa7103;
		text-decoration: underline;
	}

	#content .entry ul,
	#content .entry ol {
		margin: 0 0 10px;
	}

	#content .entry ul li,
	#content .entry ol li {
		margin: 0 0 0 30px;
		font: 12px 'Open Sans', Arial, Helvetica, sans-serif;
	}

	#content .entry ul li {
		list-style: square;
	}

	#content .entry ol li {
		list-style: decimal;
	}

	#content .entry blockquote {
		background: #f8f4dd;
		margin: 10px 0;
		padding: 5px 10px;
		text-align: center;
	}

	#content .entry blockquote p:first-child {
		margin: 0;
	}

	.wp-pagenavi {
		margin: 25px 0 10px;
	}

	/* =Sidebar */

	#sidebar {
	    width: 300px;
	    margin: 0 0 0 10px;
	}

	#sidebar h3 {
		font-size: 30px;
		font-weight: bold;
		color: #d81505;
		border-bottom: 3px solid #330000;
	}

	#sidebar .box {
		margin: 0 0 20px;
	}

	#sidebar h3.publicidade {
		display: none;
	}

	#sidebar .tagcloud a {
		color: #f4c40b;
	}

	#sidebar .widget_recent_entries li {
		background: url('images/sprite.png') no-repeat -4px -783px;
		margin: 5px 0 0;
		padding: 2px 0 0;
		font: 13px 'Open Sans', Arial, Helvetica, sans-serif;
		text-indent: 10px;
		border-top: 1px solid #eee;
	}

	#sidebar .widget_recent_entries li:first-child {
		margin: 0;
		padding: 0;
		border: 0;
	}

	/* =Footer */

		#footer {
		    float: left;
		    width: 100%;
		}

		#footer .partners {
		    width: 960px;
		    margin: 0 auto;
		}

		#footer .partners h6 {
		    margin: 10px 0; font: bold 9px Tahoma, Verdana, sans;
		    color: #d81505; text-align: center; text-transform: uppercase; letter-spacing: 5px;
		}

		#footer .partners ul {
	   	display: inline-block;
	   	*display: inline;
	   	zoom: 1;
			background: #fff;
			padding: 10px;
		}

		#footer .partners li {
		    float: left;
		    margin: 0 5px 10px 0;
		}

		#footer .sponsors h6 {
		    margin: 10px 0;
		    font: bold 9px Tahoma, Verdana, sans;
		    color: #161616;
		    text-align: center;
		    text-transform: uppercase;
		    letter-spacing: 5px;
		}

		#footer .sponsors .content-sponsors {
		    float: left;
		    width: 100%;
		    background: #161616;
		    padding: 15px 0;
		}

		#footer .sponsors .content-sponsors ul {
		    width: 960px;
		    margin: 0 auto;
		}

		#footer .sponsors .content-sponsors ul li {
		    float: left;
		    width: 200px;
		    margin: 0 0 0 30px;
		}

		#footer .sponsors .content-sponsors ul li img {
		    width: 200px;
		}

		#footer .copyright {
		    background: #000;
		    float: left;
		    width: 100%;;
		    padding: 15px 0;
		    font: 10px 'Open Sans', Arial, sans-serif;
		    text-align: right;
		    color: #666;
		}

		#footer .copyright .content-copyright {
			width: 960px;
			margin: 0 auto;
			padding: 0 0 20px;
		}

		#footer .copyright .content-copyright strong {
		    color: #f4c40b;
		}

		#footer .copyright .content-copyright a {
		    color: #fa7103;
		}

		#footer .copyright .content-copyright cite {
			float: right;
			width: 100%;
		}

		#footer .copyright .content-copyright ul {
			float: right;
			margin: 10px 0 0;
		}

		#footer .copyright .content-copyright ul li {
		    margin: 0 0 0 10px;
		    float: left;
		}

		#footer .copyright .content-copyright ul li a {
		    color: #ff1b1b;
		}


    /* =Ads */

        .superbanner {
            float: left;
            width: 100%;
            margin: 0 0 20px;
        }

        .superbanner li {
            float: left;
        }

        .superbanner .left,
        .superbanner .right {
            width: 115px;
        	height: 93px;
        }

        .superbanner .left {
            background-position: 0px -662px;
        }

        .superbanner .right {
            background-position: -152px -662px;
        }

        .superbanner .publicidade {
        		display: block;
        		background: #eee;
        		width: 728px;
        		height: 90px;
            border: 1px solid #000;
        }

/* =Text */

/* =Overwrites (!important's) */

/* =Sprites */

	#header #logo h1 a,
	#header #logo h6 a,
	#main #rotate .pagination a,
	#newsAnimix .feed,
	.superbanner .left,
    .superbanner .right,
    #main #events .eventArrowLeft,
    #main #events .eventArrowRight {
		background-image: url(images/sprite.png);
		background-repeat: no-repeat;
	}


/* =Negative text */

	#header #logo h1 a,
	#header #logo h6 a,
	#main #rotate .pagination a,
	#newsAnimix .feed {
		text-indent:-9999px;
		text-transform:capitalize;
		color:transparent;
		zoom: 1;
	}

/* =Hide Text */

	{
		display: none;
	}